.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/
build/
dist/
*.egg-info/
.terraform/
*.tfstate*
*.tfvars
*.tfvars.json
*.tfplan
.generation/
heckle-*-inventory/
/.heckle-*-build-*/
.coverage
.coverage.*
htmlcov/
coverage.xml
.release.env
*.orig
